body{
    background-color: black;
    color: white;
    font-family: sans-serif;
}

.box1{
    background-color: white;
    border-radius: 10px;
    color: black;
    margin: 40px;
}

h1{
    color: white;
    font-size: 3em;
}

.quote{
    color: black;
    font-size: 1.5em;
}

.author{
    font-size: 1em;
}


#quoteButton{
    border-radius: 10px;
    background-color: white;
    color: black;
}

.theme1{
    padding-top: 40px;
    font-size: 1.75em;
}

#tweetButton{
    font-family: sans-serif;
    
}